
figure {
    display: flex;
    position: relative;
    border-radius: 10px;

}
figure:hover {
    transition: 300ms ease-in-out;
    
}
.photo {
    object-fit: cover;
    border-radius: 10px;

}
.photo:hover {
    
    transition: 1s;
    filter: saturate(2);
    
}
/* .background {
    background-color: #FF6060;
    width: 100%;
    min-height: 40px;
    position: absolute;
    bottom: 0;

} */
figcaption {
    
    display: flex;
    font-family: Montserrat;
    color: white;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(180deg, rgba(175,53,53,1) 0%, rgba(255,96,96,1) 100%, rgba(255,96,96,1) 100%);
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
  }

@media screen and (min-width:1024px) {
  

figcaption {
    padding: 10px;
    margin-bottom: 4px;
    font-size: 16px;
    }
 .photo {
    aspect-ratio: 1/1;
    width: 100%;
 }
 
}

@media screen and (max-width:480px) {

    ul {
        padding: 0;
    }
    figcaption {
        padding: 4px 10px;    
        margin-bottom: 4px;
        font-size: 15px;
        }
     .photo {
        aspect-ratio: 4/3;
        width: 100%;
     }
     figure {
        margin: 2%;
     }
}

@media screen and (min-width:481px) and (max-width:1023px) {

    figure {
        margin: 2%;
    }
    figcaption {
        padding: 5px 10px;
        font-size: 15px;
        }
     .photo {
        aspect-ratio: 1/1;
        width: 100%;
     }

}