
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-gen {
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    
    }
.accueil, .apropos{
    text-decoration: none;
    
}
.accueil:hover, .apropos:hover{
    text-decoration:underline
}

@media screen and (max-width:480px) {

    header {
        margin: 10px;
    }

    .logo-header {
        width: 100px;
    }
    .accueil, .apropos{
        margin: 3px;
        text-transform: uppercase;
        font-size: 10px;
    } 

}

@media screen and (min-width:481px) and (max-width:1023px) {
    .accueil, .apropos {
        margin: 20px;
    }
    header {
        margin: 20px;
    }
}
@media screen and (min-width:1024px) {
    header {
        margin: 20px auto;
    }
    .accueil, .apropos {
        font-size: 24px;
    }
    .apropos {
        margin-left: 50px;
    }
}