
header {
    margin: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-gen {
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    
    }
.accueil, .apropos{
    margin: 0px 0px 25px 50px;
    text-decoration: none;
}
.accueil:hover, .apropos:hover{
    text-decoration:underline
}
  
    
    
    
    
    
    
    