.accordion-item {
    margin: 20px auto;
    
}
.accordion-vector {
    display: flex;
    background: #FF6060;
    border-radius: 5px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.accordion-title {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    
}
.accordion-content {
    color: #FF6060;
    background: #F7F7F7;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    padding: 20px ;

}
.array {
    
    list-style: none;
    font-size: 18px;
    line-height: 0p;
    
}
.margin-array {
    margin-top: 0px;
}
.group-accordion {
    
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.accordion-content {
    font-size: 20px;   
}

@media screen and (max-width:480px) {
.accordion {
    width: 100%;
}
@media screen and (min-width:1024px) {
    .group-accordion {
        height: 300px;
    }
}
}